ItemName{ 
	color : red; 
	Font-family : copperplate Gothic Light; Font-size : 
	16pt; Font :bold;
}

ItemPrice,Quantity{ 
	color:yellow;
	 font-family:Arial; 
	 font-size:12 pt;
	font:bold;
}